.Rproj.user
.Rhistory
.RData
.Ruserdata
*.aux
*.bbl
*.blg
*.brf
*.log
*.out
*.synctex.gz
*.fls
*.lb
*.fdb_latexmk
RJwrapper.pdf
*.pdf
*.zip
*.tar
.Rproj.user
*.rda
tmp/*
BMC/*
bmc-tmp/*
Cover_letter.docx